script(src='https://www.gstatic.com/firebasejs/4.13.0/firebase.js')
script(src="http://code.jquery.com/jquery-3.3.1.js")
script(src="index.js")
script(src="any.js")
link(rel='stylesheet', href='main.css')
header

main
	div
		button Hi
